name: Build and Deploy To Dev

on: 
  workflow_dispatch:
    inputs:
      branch:
        type: string
        

jobs:
  Create_infrastructure:
    name: Create_infrastructure
    runs-on: ubuntu-latest
    permissions:
      contents: read 
    steps: 
    - name: Code checkout    
      uses: actions/checkout@v3
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: create resources
      run: |
       cd api
       az group deployment create -n ghaction --resource-group rg-appservice-codepush-server-dev --template-file codepush-infrastructure.bicep --parameters project_suffix=ftrdev az_location=centralus github_client_id=${{ secrets.OATH_CLIENT_ID }} github_client_secret=${{ secrets.OATH_CLIENT_SECRET }} microsoft_client_id="" microsoft_client_secret=""

    - name: Setup Node 
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
    - name: Build    
      run: | 
        cd api
        npm i
        npm run clean
        npm run build 
        ls
    - name: Zip artifact for deployment
      run: zip release.zip ./* -r

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: node-app
        path: release.zip    

  deploy:
    runs-on: ubuntu-latest
    needs: Create_infrastructure
    environment:
      name: 'Production'
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip
      
      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'codepush-ftrdev'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
      
 

    #   uses: azure/CLI@v1
    #   with:
    #     azcliversion: 2.30.0
    #     inlineScript: |
    #       zip -r api.zip api/bin
    #       az webapp deployment source config-zip --resource-group rg-appservice-codepush-server-dev  --name codepush-ftrdev --src "api.zip"
    


    

  
                
          
     
    
             
 

    
